<div class="d-flex  pb-2 mb-3 border-bottom">
  <h1 class="h2">Locais</h1>
</div>

<div class="table-responsive">
  <p-table [value]="dataSource">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id"
            style="width: 100px">
          #
          <p-sortIcon [field]="id"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Nome
          <p-sortIcon [field]="name"></p-sortIcon>
        </th>
        <th style="width: 150px">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body"
                 let-local>
      <tr>
        <td>{{local.id}}</td>
        <td>{{local.name | titlecase}}</td>
        <td style="text-align:center">
          <button pButton
                  type="button"
                  icon="pi pi-pencil"
                  class="ui-button-info mr-2"
                  pTooltip="Editar Local"></button>
          <button pButton
                  type="button"
                  icon="pi pi-trash"
                  class="ui-button-danger"
                  pTooltip="Excluir Local"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
