<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link "
         routerLinkActive="active"
         routerLink="booking">
        <span class="lnr lnr-calendar-full"></span>
        Reservas
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active"
         routerLink="room">
        <span class="lnr lnr-location"></span>
        Salas
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active"
         routerLink="local">
        <span class="lnr lnr-map-marker"></span>
        Locais
      </a>
    </li>
  </ul>
</div>
