<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Reservas</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button class="btn btn-sm btn-outline-secondary"
            routerLink="/booking-new">
      Nova Reserva
    </button>
  </div>
</div>

<div class="table-responsive">
  <p-table [value]="dataSource">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">
          #
          <p-sortIcon [field]="id"></p-sortIcon>
        </th>
        <th pSortableColumn="localName">
          Local
          <p-sortIcon [field]="localName"></p-sortIcon>
        </th>
        <th pSortableColumn="roomName">
          Sala
          <p-sortIcon [field]="roomName"></p-sortIcon>
        </th>
        <th pSortableColumn="responsible">
          Responsável
          <p-sortIcon [field]="responsible"></p-sortIcon>
        </th>
        <th pSortableColumn="startDate">
          Início
          <p-sortIcon [field]="startDate"></p-sortIcon>
        </th>
        <th pSortableColumn="endDate">
          Fim
          <p-sortIcon [field]="endDate"></p-sortIcon>
        </th>
        <th>
          Descrição
        </th>
        <th>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body"
                 let-booking>
      <tr>
        <td>{{booking.id}}</td>
        <td>{{booking.localName | titlecase}}</td>
        <td>{{booking.roomName | titlecase}}</td>
        <td>{{booking.responsible | titlecase}}</td>
        <td>{{booking.startDate | date:'dd/mm/yyyy hh:mm'}}</td>
        <td>{{booking.endDate | date:'dd/mm/yyyy hh:mm'}}</td>
        <td>{{booking.description}}</td>
        <td style="text-align:center">
          <button pButton
                  type="button"
                  icon="pi pi-pencil"
                  class="ui-button-info mr-2"
                  pTooltip="Editar Reserva"
                  [routerLink]="['booking', booking.id]"></button>
          <button pButton
                  type="button"
                  icon="pi pi-trash"
                  class="ui-button-danger"
                  pTooltip="Excluir Reserva"
                  (click)="onDelete(booking)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
